* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: lightgreen;
}

header h1 {
  text-transform: uppercase;
  font-size: 22pt;
  padding: 20px 0;
}

footer {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: lightgreen;
}

footer h1 {
  text-transform: uppercase;
  font-size: 18pt;
  padding: 20px 0;
}

div.nav {
  height: 100px;
  background-color: orange;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

div.nav a {
  font-size: 20pt;
  text-decoration: none;
  padding: 0 10px;
  color: black;
  font-weight: bold;
}

div.container {
  height: calc(100vh - 300px);
  overflow-y: scroll;
}

div.box {
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  border: 2px solid orange;
}

div.box p {
  font-size: 16pt;
  padding-bottom: 10px;
}

div.box a {
  margin-right: 30px;
}

